<!DOCTYPE html>
<html lang="ja">
{% load static %}
<head>
  <meta charset="UTF-8">
  <title>detail</title>
  <link rel="stylesheet" href="{% static 'detail.css' %}">
  <script type="text/javascript" src="{% static 'content.js' %}"></script>
</head>

<body>
  <div class="bcc">
  <!--
  <h2>タイトル</h2>
  -->
  <h3><div class="title">{{ article.title }}</div></h3>
  <!--
  <h2>投稿日時</h2>
  -->
  <dev class="date"><h3>{{ article.posted_at }}</h3></dev></div>
  <br>
  <div class="image_post">
  <img src="mb{{ article.image.url }}" />
  </div>
  <br>

  <button onclick="like({{article.id}});" class="good">
    <i>Like</i>
    <span id="like{{article.id}}">{{ article.like }}</span>
  </button>
  
  <div class="bcc"><!--<h2>本文</h2>-->
  <h3>{{ article.body | linebreaksbr }}
  </h3></div>
  <p>
    <a href="{% url 'update' article.id %}" class="Edit">Edit</a><a href="{% url 'delete' article.id %}" class="Delete">Delete</a>
  </p>
  <hr>
  <h2 class="comment">Comments</h2>
  <form action="{% url 'detail' article.id %}" method="post">
    {% csrf_token %}
    <div>
      <label for="textInput" class="text">Text</label>
      <textarea id="textInput" name="text" rows="3"></textarea>
    </div>
    <div>
      <button type="submit">Submit</button>
    </div>
  </form>

  <div>
    {% if comments %}
    {% for comment in comments %}
    <div>
      <div>
        <small>[{{ comment.posted_at }}]</small>
      </div>
      <div>
        {{ comment.text | linebreaksbr }}
      </div>
    </div>
    {% endfor %}
    {% else %}
    <p class="comment">No comment.</p>
    {% endif %}
  </div>
  <a href="http://localhost:8000/mb/" class="btn-circle-stitch" style="float: right;">Home</a>
  <br>
</body>

</html>